img{
    text-align:center;
  }
body{
    background-image: url("v915-wit-011-k.jpg");
    background-size: cover;
    text-align: center;
    
}
h1{
  color: #5a69a8;;
  
}
p{
  color: #5a69a8;;
  font-size: xx-large;
}
button{
  color: #5a69a8;;
}

